{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Ein Projekt für die Vorwissenschaftliche Arbeit</h1><br>
    <h2>Aber warum?</h2>
    <p>Dieses Projekt ist dazu da, Daten über moralische Urteile über zufällig generierte Sätze zu sammeln. Es soll dann eine künstliche Intelligenz darauf trainiert werden, das gleiche tun zu können.</p><br>
    <h2>Regeln</h2>
    <ul>
        <li>Allein auf as moralische Urteil achten</li>
        <li>Es werden auch sinnlose Sätze generiert werden, trotzem möglichst wahrheitsgetreu antworten</li>
        <li>Es gibt keine richtige Antwort, achte nicht darauf, was andere sagen</li>
        <li>Habt Spaß und leitet das Projekt bitte weiter! =)</li>
    </ul><br>
    <h2>Kontakt</h2>
    <p>Christoph Royer: <a href="mailto:cr@x-net.at">cr@x-net.at</a></p>
{% endblock %}